wp-config.php
wp-admin/
wp-includes/
wp-content/uploads/
wp-content/upgrade/
wp-content/cache/
wp-content/languages/
wp-content/plugins/
wp-content/themes/twentytwentythree/
wp-content/themes/twentytwentyfour/
wp-content/themes/twentytwentyfive/
wp-content/themes/travel-agency/
node_modules/
vendor/
*.log
*.sql
!database/
!database/*.sql
.DS_Store
Thumbs.db
readme.html
license.txt
